.App {
  background-color: lightcoral;
  /* text-align: center; */
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: white;
}

.Main {
  background-color: #edf2f4;
  /* text-align: center; */
  /* align-items: center; */
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  color: black;
}